  #               **PYTHON**
![th.jpeg]()

In [ ]:
print('Hello , world')

Hello , world

In [ ]:
#NUMBERING THE alphabetS
print('P->',ord('P'))
print(bin(80))
print('A->',ord('A'))
print(bin(65))
print('V->',ord('V'))
print(bin(86))
print('I->',ord('I'))
print(bin(73))
print('K->',ord('K'))
print(bin(75))
print('Z->',ord('Z'))
print(bin(4))

P-> 80
0b1010000
A-> 65
0b1000001
V-> 86
0b1010110
I-> 73
0b1001001
K-> 75
0b1001011
Z-> 90
0b100

In [ ]:
a=int(input('enter A:'))
b=int(input('enter B:'))
c=a+b
print(c)
s=a-b
print(s)
m=a*b
print(m)
e=a**b
print(e)
fd=a//b
print(fd)
r=a%b
print(r)

enter A:4
enter B:5
9
-1
20
1024
0
4

In [ ]:
print(bin(65))

0b1000001

In [ ]:
print('HELLO WORLD')

HELLO WORLD

In [ ]:
print(ord('A'))

65

In [ ]:
print(6+9)

15

In [ ]:
name=input('Enter the name :')
print(name.upper())

Enter the name :pavithra
PAVITHRA

In [ ]:
name=input('Enter the name :')
print(name.lower())

Enter the name :PAVI
pavi

In [ ]:
name=input('Enter the name :')
print(name.title())
print(name.count('A'))

Enter the name :PAVITHRA
Pavithra
2

In [ ]:
name='Veena'
print(name.count('e'))

2

In [ ]:
name='Rakesh from Mysore'
print(name)
print(name.replace('Mysore','Bangalore'))

Rakesh from Mysore
Rakesh from Bangalore

In [ ]:
n=('Rakesh')
print(n)

Rakesh

In [ ]:
name='Pavi Pavi'
print(name.find('i'))
print(len(name))  #includung space

3
9

In [ ]:
i=int(input('Enter the input :'))
for i in range(i,i*5+1,i):
  print(i)

Enter the input :2
2
4
6
8
10

In [ ]:
c=5
while(c<12):
  print(c)
  c=c+1

5
6
7
8
9
10
11

In [ ]:
c=5
while(c<8):
  c=c+1
  print(c)

6
7
8

In [ ]:
age=int(input('enter the age:'))
if(age>35):
  print('u are welcome to elders club')

else:
  print('u cannot enter the elders club')

enter the age:18
u cannot enter the elders club

In [ ]:
t=0
mpin=123
if(t<3):
  upin=int(input('enter the pin'))
  t=t+1
if(mpin==upin):
  print('Successfully logged in :) ')

elif(t==3):
  print('Sorry your account is blocked :( )')
else:
  print('Invalid pin try again!')

enter the pin123
Successfully logged in :)

In [ ]:
name=input("enter your name:")
for i in name:
  print(i)

enter your name:pavi
p
a
v
i

In [ ]:
num1=int(input("enter the first number :"))
num2=int(input("enter the second number :"))
print(num1+num2)
print(num1-num2)
print(num1/num2)
print(num1*num2)

enter the first number :5
enter the second number :4
9
1
1.25
20

In [ ]:
t=12
v=23
t*=v
t

276

In [ ]:
t=5
t+=1
t

6

In [ ]:
  bill=0
  print('.......WELCOME TO BIRIYANI MANE.........')
  a='''-----------------MENU----------------
        1.BIRIYANI=100Rs
        2.KEBAB=120Rs
        3.FRIED CHICKEN=350Rs'''
  print(a)
  ch=int(input('enter your choice:'))
  if(ch==1):
    bill+=100
  elif(ch==2):
    bill+=120
  elif(ch==3):
    bill+=350
  ch1=('do you need extra sauces or salads? y\n')
  if(ch1=='y'):
    bill+=50
  else:
    print('Thank you for your confirmation')

  print('your total bill is',bill)

.......WELCOME TO BIRIYANI MANE.........
-----------------MENU----------------
      1.BIRIYANI=100Rs
      2.KEBAB=120Rs
      3.FRIED CHICKEN=350Rs
enter your choice:3
Thank you for your confirmation
your total bill is 350

In [ ]:
  age=int(input('enter the age:'))
  if(age>25):
    print('you are eligible to drink')
  elif(age>18):
    print('you are eligible to smoke')
  elif (age<13):
    print('you are eligible to drink juice')
  elif(age<18 and age>13):
    print('you are eligible to drink soft drink')
  else:
    print('Sorry! you are not eligible for anything')

enter the age:26
you are eligible to drink

In [ ]:
  num=5
  for i in range(1,5):
    print(num,'x',i,'=',num*i)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20

In [ ]:
  #BMI CALVULATOR
  weight=float(input('enter your weight in kg:'))
  height=float(input('enter your height in centimeters:'))
  bmi=weight/height**2
  print(bmi)

enter your weight in kg:75
enter your height in centimeters:165
0.0027548209366391185

In [ ]:
r=int(input('enter the radius of the circle:'))
perimeter=2*3.14*r
area=3.14*r*r
print('area of circle is',area)
print('perimeter of circle is',perimeter)
l=int(input('enter the length of rectangle:'))
b=int(input('enter the breadth of rectangle:'))
perimeter1=2*l+b
area1=l*b
print('area of circlerectangle is',area1)
print('perimeter of rectangle is',perimeter1)

enter the radius of the circle:2
area of circle is 12.56
perimeter of circle is 12.56
enter the length of rectangle:3
enter the breadth of rectangle:4
area of circlerectangle is 12
perimeter of rectangle is 10

In [ ]:
bill=0
print('***************WELCOME TO IDLI MANE*******************')
print('---------MENU 1.IDLI 2.PLAIN DOSA 3.PAULAV---------')
ch=input('enter your choice  ')
if(ch==1):
  bill+=30
elif(ch==2):
  bill+=40
elif(ch==3):
  bill+=45
else:
  print('please order anything')

print('your bill is',bill)

***************WELCOME TO IDLI MANE*******************
---------MENU 1.IDLI 2.PLAIN DOSA 3.PAULAV---------
enter your choice  2
please order anything
your bill is 0

In [ ]:
t=0
balance=1000
mpin=1234
while(t<3):
  upin=int(input('enter the pin:'))
  t=t+1
  if(mpin==upin):
    print('you are successfully logged in')
    ch=int(input('enter the choice:'))
    if(ch==1):
     deposit=int(input('enter the deposit amount:'))
     balance=deposit+balance
     print("your balance is",balance)
     break
    elif(ch==2):
      withdraw=int(input('enter the withdrawal amount:'))
      balance=balance-withdraw
      print("your balance is",balance)
      break
    elif(t==3):
      print('your account is blocked')
  else:
      print('please enter a valid pin')

enter the pin:1234
you are successfully logged in
enter the choice:2
enter the withdrawal amount:1000
your balance is 0

In [ ]:
a='pavi'
print(a[0:10:2])
print(a[:-2])

pv
pa

In [ ]:
def marriage(place,bride, groom):
  print("please come to",place, "for",bride,groom,"marriage")

In [ ]:
marriage('goa','gundi','gunda')

please come to goa for gundi gunda marriage

In [ ]:
def add(a,b):
  add=a+b
  print("the addition of",a,"and",b,"is:",a+b)
def subtract(a,b):
  subtract=a-b
  print("the subtraction of",a,"and",b,"is:",a-b)
def multiply(a,b):
  multiply=a*b
  print("the multipication of",a,"and",b,"is:",a*b)
def division(a,b):
  division=a/b
  print("the division of",a,"and",b,"is:",a/b)
def floatdivision(a,b):
  floatdivision=a/b
  print("the floatdivision of",a,"and",b,"is:",a/b)
def exponential(a,b):
  exponential=a**b
  print("the exponential of",a,"and",b,"is:",a**b)

In [ ]:
choice=int(input("enter the choice 1.add, 2.subtract, 3.multiply, 4.division. 5.floatdivision, 6.exponential:"))

if(choice==1):
  add(a,b)
elif(choice==2):
  subtract(a,b)
elif(choice==3):
  multiply(a,b)
elif(choice==4):
  division(a,b)
elif(choice==5):
  floatdivision(a,b)
else:
    print("sorry")

In [ ]:
#Assignment
Name="Mevi Tech","Red","Blue"
for i in Name:
  print(i)
  for j in i:
    print(j)

Mevi Tech
M
e
v
i

T
e
c
h
Red
R
e
d
Blue
B
l
u
e

In [ ]:
l = []
n = int(input('How many elements you want'))
for i in range(n):
  e=input('Enter the element')
  l.append(e)
  print(l)

How many elements you want5
Enter the elementpavi
['pavi']
Enter the elementnishu
['pavi', 'nishu']
Enter the elementkarthik
['pavi', 'nishu', 'karthik']
Enter the elementanand
['pavi', 'nishu', 'karthik', 'anand']
Enter the elementraki
['pavi', 'nishu', 'karthik', 'anand', 'raki']

In [ ]:
l=[1,2,3,4,76,34]
print(l)

[1, 2, 3, 4, 76, 34]

In [ ]:
l=[1,2,3,4,76,34]
print(l[1])

2

In [ ]:
l=[1,2,3,4,76,34,'pavi','veena','raki']
print(l)

[1, 2, 3, 4, 76, 34, 'pavi', 'veena', 'raki']

In [ ]:
l[1]=14
l

[1, 14, 3, 4, 76, 34, 'pavi', 'veena', 'raki']

In [ ]:
len(l)

9

In [ ]:
l.append('prav')
l

[1,
 14,
 3,
 4,
 76,
 34,
 'pavi',
 'veena',
 'raki',
 'praveen',
 'praveen',
 'praveen',
 'praveen',
 'praveen',
 'praveen',
 'praveen',
 'praveen',
 'prave',
 'prav',
 'prav']

In [ ]:
l.index('pavi')

6

In [ ]:
l.insert(6,'ramu')
l

[1,
 14,
 3,
 4,
 76,
 34,
 'ramu',
 'pavi',
 'veena',
 'raki',
 'praveen',
 'praveen',
 'praveen',
 'praveen',
 'praveen',
 'praveen',
 'praveen',
 'praveen',
 'prave',
 'prav',
 'prav']

In [ ]:
l = []
n = int(input('How many elements you want : '))
for i in range(n):
  e=input('Enter the element :')
  print(e.upper())
  print(e.lower())
  print(e.title())
  print(e.count('a'))
  l.append(e)
  print(l)

How many elements you want : 2
Enter the element :pavi
PAVI
pavi
Pavi
1
['pavi']
Enter the element :raki
RAKI
raki
Raki
1
['pavi', 'raki']

In [ ]:
l = []
n = int(input('How many elements you want : '))
for i in range(n):
  e=input('Enter the element :')
  print(e)
  l.append(e)
  print(l)
  print(e.upper())
  print(e.lower())
  print(e.title())
  print(e.count('a'))

How many elements you want : 2
Enter the element :pavi
pavi
['pavi']
PAVI
pavi
Pavi
1
Enter the element :ramu
ramu
['pavi', 'ramu']
RAMU
ramu
Ramu
1

In [ ]:
l.append(e)
l

['pavi', 'ramu', 'ramu']

In [ ]:

l = []
n = int(input('How many elements you want : '))
for i in range(n):
  e=input('Enter the element :')
  print(e.upper())
  print(e.lower())
  print(e.title())
  print(e.count('a'))
  l.append(e)
  print(l)

How many elements you want : 5
Enter the element :Rakesh
RAKESH
rakesh
Rakesh
1
['Rakesh']
Enter the element :Pavithra
PAVITHRA
pavithra
Pavithra
2
['Rakesh', 'Pavithra']
Enter the element :Veena
VEENA
veena
Veena
1
['Rakesh', 'Pavithra', 'Veena']
Enter the element :Radha
RADHA
radha
Radha
2
['Rakesh', 'Pavithra', 'Veena', 'Radha']
Enter the element :Kothandan
KOTHANDAN
kothandan
Kothandan
2
['Rakesh', 'Pavithra', 'Veena', 'Radha', 'Kothandan']

In [ ]:
l=[2,3,45,67,78,89,32,43]
print('maximum num->',max(l))
print(min(l))

maximum num-> 89
2

In [ ]:
t=(1,2,3,4,43,23,32)
t

(1, 2, 3, 4, 43, 23, 32)

In [ ]:
t=(1,2,3,4,43,23,32)
t[3]

4

In [ ]:
t=(1,2,3,4,43,23,32,'string')
t

(1, 2, 3, 4, 43, 23, 32, 'string')

# **DICTIONARY**

In [ ]:
d={
    'name':'mevi tech',
    'age':3,
    'employees':4
}
d

{'name': 'mevi tech', 'age': 3, 'employees': 4}

In [ ]:
d={
    'name':'mevi tech',
    'age':3,
    'employees':4

}
d['name']

'mevi tech'

In [ ]:
d={
    'name':'mevi tech',
    'age':3,
    'employees':4,
    'name':'Mevi Technologies LLp'
}
d

{'name': 'Mevi Technologies LLp', 'age': 3, 'employees': 4}

In [ ]:
d={
    'name':'mevi tech',
    'age':3,
    'employees':4,
    'name':'Mevi Technologies LLp'
}
d['name']

'Mevi Technologies LLp'

In [ ]:
d={
    'name':'mevi tech',
    'age':3,
    'employees':4,
    'name':'Mevi Technologies LLp'
}
print(d.keys())
print(d.values())

dict_keys(['name', 'age', 'employees'])
dict_values(['Mevi Technologies LLp', 3, 4])

In [ ]:
d={
    'name':'mevi tech',
    'age':3,
    'employees':4,
    'name':'Mevi Technologies LLp'
}
print(d.keys())
print(d.values())
print(d)

dict_keys(['name', 'age', 'employees'])
dict_values(['Mevi Technologies LLp', 3, 4])
{'name': 'Mevi Technologies LLp', 'age': 3, 'employees': 4}

In [ ]:
# 2.EXAMPLE
l = []
n = int(input('How many elements you want : '))
for i in range(n):
  e=input('Enter the element :')
  print(e)
  l.append(e)
  print(e.upper())
  print(e.lower())
  print(e.title())
  print(e.count('a'))
print(l)

How many elements you want : 2
Enter the element :pavi
pavi
PAVI
pavi
Pavi
1
Enter the element :raki
raki
RAKI
raki
Raki
1
['pavi', 'raki']

In [ ]:
d.update({'Location':'Nagarbhavi'})
d

{'name': 'Mevi Technologies LLp',
 'age': 3,
 'employees': 4,
 'Location': 'Nagarbhavi'}

In [ ]:
name=input()
age=input()
d={
    'name':name,
    'age':age,
    'employees':input('Enter the emp number'),
    'name':'Mevi Technologies LLp',
    'age':4
}
print(d.keys())
print(d.values())
print(d)

Mevi Technologies LLp
4
Enter the emp number3
dict_keys(['name', 'age', 'employees'])
dict_values(['Mevi Technologies LLp', 4, '3'])
{'name': 'Mevi Technologies LLp', 'age': 4, 'employees': '3'}

In [ ]:
for i in d.items():
  print(i)

('name', 'Mevi Technologies LLp')
('age', 4)
('employees', '3')

In [ ]:
for i,j in d.items():
  print(i)

name
age
employees

In [ ]:
for i,j in d.items():
  print(j)

Mevi Technologies LLp
4
3

In [ ]:
print('Company details')
for i,j in d.items():
  print(i,'--->',j)

Company details
name ---> Mevi Technologies LLp
age ---> 4
employees ---> 3

In [ ]:

print('welcome to mevi')
n=int(input('Enter the number of employee details '))
l=[]
for i in range(n):
  d={
      'name':input('Enter the name of the employee '),
      'age':int(input('Enter the age ')),
      'salary':int(input('Enter the salary ')),
      'designation':input('Enter your designation '),
      'company':input('In which company your working '),
      'branch location':input('Address '),
      'year of experince':int(input('your experince in years '))
  }
  l.append(d)
print(d)

welcome to mevi
Enter the number of employee details 1
Enter the name of the employee pavi
Enter the age 21
Enter the salary 75000
Enter your designation software
In which company your workingMevi
Addressnagrabhavi
your experince in years2
{'name': 'pavi', 'age': 21, 'salary': 75000, 'designation': 'software', 'company': 'Mevi', 'branch location': 'nagrabhavi', 'year of experince': 2}

# **BASIC**

In [ ]:
s={1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

In [ ]:
s={1,2,3,4,5,'hey'}
print(s)

{1, 2, 3, 4, 5, 'hey'}

In [ ]:
s={1,2,3,4,5,'hey',8,4,3,6,7}
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 'hey'}

In [ ]:
# prompt:

s.add('Mevi Tech')
s

{1, 2, 3, 4, 5, 6, 7, 8, 'Mevi Tech', 'hey', 'pavi'}

In [ ]:
s.add('pavi')
s

{1, 2, 3, 4, 5, 6, 7, 8, 'Mevi Tech', 'hey', 'pavi'}

In [ ]:
s.pop()
s

{2, 3, 4, 5, 6, 7, 8, 'Mevi Tech', 'hey', 'pavi'}

In [ ]:
s.pop()

2

In [ ]:
s

{3, 4, 5, 6, 7, 8, 'Mevi Tech', 'hey', 'pavi'}

In [ ]:
a={1,2,3,4}
b={3,4,5,6}
c=a.intersection(b)
d=a.union(b)
print('intersection of a and b ->',c)
print('union of a and b ->',d)

intersection of a and b -> {3, 4}
union of a and b -> {1, 2, 3, 4, 5, 6}

In [ ]:
l=[1,2,56,32,28,12,15,3,4,5,6]
print(l)

[1, 2, 56, 32, 28, 12, 15, 3, 4, 5, 6]

In [ ]:
l=[1,2,56,32,28,12,15,3,4,5,6]
sorted(l)

[1, 2, 3, 4, 5, 6, 12, 15, 28, 32, 56]

In [ ]:
l=[1,2,56,32,28,12,15,3,4,5,6]
l1=sorted(l)
l1

[1, 2, 3, 4, 5, 6, 12, 15, 28, 32, 56]

In [ ]:
name='mevi tech'
print(name[8])

h

In [ ]:
name='mevi tech'
print(name[-1])

h

In [ ]:
name='mevi tech'
print(name[-9])

m

# **DMART**

---

In [ ]:

price=0
print ('WELCOME TO DMART')
while(True):
  print('Enter the categories to shop : ')
  print('1.Home Electronics\n2.Chips')
  op=int(input('Enter the choice : '))
  if(op==1):
    print("The items in Electronics are\n1.Refrigerator\n2.Speaker\n3.TV")
    e1=int(input('Enter the choice:'))
    if(e1==1):
      q=int(input(' '))
      price+=15000*q
    elif(e1==2):
      q=int(input(' '))
      price+=1500*q
    elif(e1==3):
      q=int(input(' '))
      price+=25000*q
  elif(op==2):
      print("The items in Chips are\n1.Lays\n2.Bingo\n3.kurkure")
      ch=int(input('Enter the choice'))
      if(ch==1):
        q=int(input(' '))
        price+=15*q
      elif(ch==2):
        q=int(input(' '))
        price+=10*q
      elif(ch==3):
        q=int(input(' '))
        price+=25*q
  print("The final price is",price)
  c=input('Do You Wanna Continue?,YES or NO')
  if(c=='NO'):
    break

WELCOME TO DMART
Enter the categories to shop :
1.Home Electronics
2.Chips
Enter the choice : 1
The items in Electronics are
1.Refrigerator
2.Speaker
3.TV
Enter the choice:1
 2
The final price is 30000
Do You Wanna Continue?,YES or NOYES
Enter the categories to shop :
1.Home Electronics
2.Chips
Enter the choice : 2
The items in Chips are
1.Lays
2.Bingo
3.kurkure
Enter the choice2
 5
The final price is 30050
Do You Wanna Continue?,YES or NONO

In [ ]:

price=0
print ('WELCOME TO DMART')
while(True):
  print('Enter the categories to shop: ')
  print('1.Home Electronics\n2.Chips')
  op=int(input('Enter the choice: '))
  if(op==1):
    print("The items in Electronics are\n1.Refrigerator\n2.Speaker\n3.TV")
    e1=int(input('Enter the choice: '))
    if(e1==1):
      q=int(input('How many quantities do you need: '))
      price+=15000*q
    elif(e1==2):
      q=int(input('How many quantities do you need: '))
      price+=1500*q
    elif(e1==3):
      q=int(input('How many quantities do you need: '))
      price+=25000*q
  elif(op==2):
      print("The items in Chips are\n1.Lays\n2.Bingo\n3.kurkure")
      ch=int(input('Enter the choice: '))
      if(ch==1):
        q=int(input('How many quantities do you need: '))
        price+=15*q
      elif(ch==2):
        q=int(input('How many quantities do you need: '))
        price+=10*q
      elif(ch==3):
        q=int(input('How many quantities do you need: '))
        price+=25*q
  print("The final price is",price)
  c=input('Do You Wanna Continue?, YES or NO : ')
  if(c=='YES'):
    print("Okay,Please Continue Your Shopping")
  if(c=='NO'):
    print("THANK YOU,For buying in our shop.")
    break

WELCOME TO DMART
Enter the categories to shop:
1.Home Electronics
2.Chips
Enter the choice: 1
The items in Electronics are
1.Refrigerator
2.Speaker
3.TV
Enter the choice: 1
How many quantities do you need: 2
The final price is 30000
Do You Wanna Continue?, YES or NO : YES
Okay,Please Continue Your Shopping
Enter the categories to shop:
1.Home Electronics
2.Chips
Enter the choice: 2
The items in Chips are
1.Lays
2.Bingo
3.kurkure
Enter the choice: 3
How many quantities do you need: 5
The final price is 30125
Do You Wanna Continue?, YES or NO : NO
THANK YOU,For buying in our shop

# **RESORT** & **RESTUARNT**

In [ ]:

price=0
print ('WELCOME TO RESORT')
while(True):
  print('Enter the Items in Restaurent: ')
  print('1.Tiffen\n2.Lunch')
  op=int(input('Enter the choice: '))
  if(op==1):
    print("The items to eat\n1.Dosa\n2.Idle\n3.Poori")
    e1=int(input('Enter the choice: '))
    if(e1==1):
      q=int(input('How many plates do you need: '))
      price+=50*q
    elif(e1==2):
      q=int(input('How many plates do you need: '))
      price+=60*q
    elif(e1==3):
      q=int(input('How many plates do you need: '))
      price+=75*q
  elif(op==2):
      print("The items to eat\n1.Rice\n2.Briyani\n3.Ragiball")
      ch=int(input('Enter the choice: '))
      if(ch==1):
        q=int(input('How many plates do you need: '))
        price+=150*q
      elif(ch==2):
        q=int(input('How many plates do you need: '))
        price+=200*q
      elif(ch==3):
        q=int(input('How many plates do you need: '))
        price+=50*q
  print("The final price is",price)
  c=input('Do You Wanna Order anything ?, YES or NO : ')
  if(c=='YES'):
    print("What do you want to order")
  if(c=='NO'):
    print("THANK YOU,FOR Visiting our restaurent")
    break

WELCOME TO RESORT
Enter the Items in Restaurent:
1.Tiffen
2.Lunch
Enter the choice: 1
The items to eat
1.Dosa
2.Idle
3.Poori
Enter the choice: 1
How many plates do you need: 2
The final price is 100
Do You Wanna Order anything ?, YES or NO : YES
What do you want to order
Enter the Items in Restaurent:
1.Tiffen
2.Lunch
Enter the choice: 1
The items to eat
1.Dosa
2.Idle
3.Poori
Enter the choice: 3
How many plates do you need: 4
The final price is 400
Do You Wanna Order anything ?, YES or NO : YES
What do you want to order
Enter the Items in Restaurent:
1.Tiffen
2.Lunch
Enter the choice: 2
The items to eat
1.Rice
2.Briyani
3.Ragiball
Enter the choice: 2
How many plates do you need: 2
The final price is 800
Do You Wanna Order anything ?, YES or NO : NO
THANK YOU,FOR Visiting our restaurent

# **SUPERMARKET**

In [ ]:

print("-----Welcome-----")
n = input('Enter the element: ')
l = []
n = int(input('How many elements you want: '))
for i in range(n):
  e = input('Enter the element: ')
  e = int(input('How many elements do you want: '))
  for i in range(e):
    m = input('Enter the elements of e: ')
    print(m)
    l.append(m)
    print(l)
l.append(e)
l.append(n)

-----Welcome-----
Enter the element: SUPERMARKET
How many elements you want: 2
Enter the element: HOME APPLIANCES
How many elements do you want: 2
Enter the elements of e: FAN
FAN
['FAN']
Enter the elements of e: LIGHT
LIGHT
['FAN', 'LIGHT']
Enter the element: GROCERIES
How many elements do you want: 3
Enter the elements of e: VEGIES
VEGIES
['FAN', 'LIGHT', 'VEGIES']
Enter the elements of e: DAL
DAL
['FAN', 'LIGHT', 'VEGIES', 'DAL']
Enter the elements of e: PEANUT
PEANUT
['FAN', 'LIGHT', 'VEGIES', 'DAL', 'PEANUT']

# Printing **elements in uppercase, lowercase, title, count**

In [3]:

l = ['Hi!,Everyone we met after longtime']
n = int(input('How many members are staying here: '))
for i in range(n):
  e=input('Enter the name who are all staying:')
  l.append(e)
  print(e.upper())
  print(e.lower())
  print(e.title())
  print(e.count('a'))
print(l)
len(e)

How many members are staying here: 4
Enter the name who are all staying:pavithra
PAVITHRA
pavithra
Pavithra
2
Enter the name who are all staying:raki
RAKI
raki
Raki
1
Enter the name who are all staying:veena
VEENA
veena
Veena
1
Enter the name who are all staying:dad
DAD
dad
Dad
1
['Hi!,Everyone we met after longtime', 'pavithra', 'raki', 'veena', 'dad']

3

In [4]:
len(l)

5

# REPLACING **'a'** To **'b'**

In [ ]:

l = ['Hi!,Everyone we met after longtime']
n = int(input('How many members are staying here: '))
for i in range(n):
  e=input('Enter the name who are all staying:')
  l.append(e)
  print(e.upper())
  print(e.lower())
  print(e.title())
  print(e.count('a'))
print(l)
print(e.replace('a','b'))
len(e)

How many members are staying here: 1
Enter the name who are all staying:Pavithra pavi
PAVITHRA PAVI
pavithra pavi
Pavithra Pavi
3
['Hi!,Everyone we met after longtime', 'Pavithra pavi']
Pbvithrb pbvi

13

In [ ]:

inp=input('Enter the input: ')
a=0
n=0
w=0
for i in inp:
  if(i.isalpha()):
    a+=1
  elif(i.isnumeric()):
    n+=1
  elif(i.isspace()):
    w+=1
print(f'alphabet count-> {a}\n numbers -> {n}\n white space -> {w}')

Enter the input: pavithra k 2003
alphabet count-> 9
 numbers -> 4
 white space -> 2

In [ ]:

l=[]
n=int(input('Enter n : '))
for i in range(n):
  l.append(input('Enter the input '))
  print(l)

Enter n : 3
Enter the input megha
['megha']
Enter the input nishu
['megha', 'nishu']
Enter the input pavi
['megha', 'nishu', 'pavi']

In [ ]:
a=0
n=0
w=0
for i in l:
  for j in i:
    if(i.isalpha()):
      a+=1
    elif(i.isnumeric()):
      n+=1
    elif(i.isspace()):
      w+=1
print(f'alphabet count-> {a}\n numbers -> {n}\n white space -> {w}')

alphabet count-> 14
 numbers -> 0
 white space -> 0

In [ ]:

l=input("Enter a string : ")
a=0
n=0
w=0
for i in l:
  for j in i:
    if(i.isalpha()):
      a+=1
    elif(i.isnumeric()):
      n+=1
    elif(i.isspace()):
      w+=1
print(f'alphabet count-> {a}\n numbers -> {n}\n white space -> {w}')

Enter a string : pavii pavi 174
alphabet count-> 9
 numbers -> 3
 white space -> 2

In [ ]:
#Function
def hi():
  print('hey')

In [ ]:
#calling function
hi()

hey

In [ ]:
def marriage(groom,bride):
  print()

In [ ]:
def add(a,b):
  return a+b

In [ ]:
add(4,5)

9

In [ ]:
def add(a,b):
  return a+b
add(4,9)

13

In [ ]:
d={
    'HR':{'Name':'Jay',
          'Age':20,
          'Salary':20000,
          'Department':'Store'
          },

    'Dev':{'Name':'Niveditha',
           'Age':21,
           'Salary':25000,
           'Department':'Frozen'
          }
}

In [ ]:
d

{'HR': {'Name': 'Jay', 'Age': 20, 'Salary': 20000, 'Department': 'Store'},
 'Dev': {'Name': 'Niveditha',
  'Age': 21,
  'Salary': 25000,
  'Department': 'Frozen'}}

In [ ]:
d={
    'ID1':{'Name':'Jay',
          'Age':20,
          'Salary':20000,
          'Department':'Store'
     },

    'id3': {'Name':'Nivi',
             'Age':22,
             'Salary':27000,
             'Department':'Fm'
    },

    'ID4': {'Name':'nin',
           'Age':21,
           'Salary':27540,
           'Department':'Fen'
    }

  }

In [ ]:
d

{'ID1': {'Name': 'Jay', 'Age': 20, 'Salary': 20000, 'Department': 'Store'},
 'id3': {'Name': 'Nivi', 'Age': 22, 'Salary': 27000, 'Department': 'Fm'},
 'ID4': {'Name': 'nin', 'Age': 21, 'Salary': 27540, 'Department': 'Fen'}}

In [ ]:
def view_details(employees):
  for i,j in employees.items():
    print(f"ID -> {i} | Name -> {j['Name']} | Age -> {j['Age']} | Salary -> {j['Salary']} | Department -> {j['Department']}"   )

In [ ]:
view_details(d)

ID -> ID1 | Name -> Jay | Age -> 20 | Salary -> 20000 | Department -> Store
ID -> id3 | Name -> Nivi | Age -> 22 | Salary -> 27000 | Department -> Fm
ID -> ID4 | Name -> nin | Age -> 21 | Salary -> 27540 | Department -> Fen

In [ ]:
def deleteemp(employeelist,id):
  print('try to delete',id)
  del(employeelist[id])
  print('Sucessfully deleted')

In [ ]:
deleteemp(d,'ID1')

try to delete ID1
Sucessfully deleted

In [ ]:
d

{'ID4': {'Name': 'nin', 'Age': 21, 'Salary': 27540, 'Department': 'Fen'}}

In [ ]:
emp={}
def addEmp(id,name,age,salary,department):
  emp.update({id: {'Name':name,
                   'Age':age,
                   'Salary':salary,
                   'Department':department
                  }})
  print('Sucessfull added',id)

In [ ]:
addEmp('id6','nish',22,60000,'Cse')

Sucessfull added id6

In [ ]:
print (view_details(emp))

ID -> id6 | Name -> nish | Age -> 22 | Salary -> 60000 | Department -> Cse
None

In [ ]:
l = ['Hi!,Everyone we met after longtime']
n = int(input('How many members are staying here: '))
for i in range(n):
  e=input('Enter the name who are all staying:')
  l.append(e)
  print(e.upper())
  print(e.lower())
  print(e.title())
  print(e.count('a'))
print(l)
print(e.replace('a','b'))
len(e)

How many members are staying here: 1
Enter the name who are all staying:Pavithra pavi
PAVITHRA PAVI
pavithra pavi
Pavithra Pavi
3
['Hi!,Everyone we met after longtime', 'Pavithra pavi']
Pbvithrb pbvi

13

# **odd and even**

In [ ]:
#Segregrate as odd and even
def oddeven(num):
  if(num % 2 != 0):
    print('It is odd number')
  elif(num % 2 == 0):
    print('It is even number')

In [ ]:
num=int(input('Enter the number :'))
oddeven(num)

Enter the number :15
It is odd number

In [ ]:

def filteroddeven(numbers):
  even_no=[num for num in numbers if num % 2 ==0]
  odd_no=[num for num in numbers if num % 2 !=0]
  return even_no,odd_no
mn=[1,2,3,4,5,6,7,8,9,10]
even_no,odd_no=filteroddeven(mn)
print("Even numbers :",even_no)
print("odd numbers:",odd_no)

Even numbers : [2, 4, 6, 8, 10]
odd numbers: [1, 3, 5, 7, 9]

# **DICTIONARY**

In [ ]:
d={
    'ID1':{'Product Name':'Maggie',
           'Category':'A',
           'Price':20
    },
    'ID2':{'Product Name':'pasta',
           'Category':'B',
           'Price':50
    },
    'ID3':{'Product Name':'yippe',
           'Category':'C',
           'Price':60
    }
}

In [ ]:
print("SUPERMARKET")
d

SUPERMARKET

{'ID1': {'Product Name': 'Maggie', 'Category': 'A', 'Price': 20},
 'ID2': {'Product Name': 'pasta', 'Category': 'B', 'Price': 50},
 'ID3': {'Product Name': 'yippe', 'Category': 'C', 'Price': 60}}

In [ ]:
def view_details(stock):
  for i,j in stock.items():
    print(f"ID -> {i} | Product Name -> {j['Product Name']} | Category -> {j['Category']} | Price -> {j['Price']} ")

In [ ]:
view_details(d)

ID -> ID1 | Product Name -> Maggie | Category -> A | Price -> 20
ID -> ID2 | Product Name -> pasta | Category -> B | Price -> 50
ID -> ID3 | Product Name -> yippe | Category -> C | Price -> 60

# **BILLING**

In [ ]:

bill=0
print('.......WELCOME TO BIRIYANI MANE.........')
a='''-----------------MENU----------------
        1.BIRIYANI=100Rs
        2.KEBAB=120Rs
        3.FRIED CHICKEN=350Rs'''
while(True):
  print(a)
  ch=int(input('enter your choice:'))
  if(ch==1):
    bill+=100
  elif(ch==2):
    bill+=120
  elif(ch==3):
    bill+=350
  ch1=('do you need extra sauces or salads? y\n')
  if(ch1=='y'):
    bill+=50
  else:
    print('Thank you for your confirmation')

  print('your total bill is',bill)
  break

.......WELCOME TO BIRIYANI MANE.........
-----------------MENU----------------
        1.BIRIYANI=100Rs
        2.KEBAB=120Rs
        3.FRIED CHICKEN=350Rs
enter your choice:1
Thank you for your confirmation
your total bill is 100

# **BANK ACCOUNT PASSWORD AND AMOUNT**

In [8]:
#//BANK

t=0
balance=1000
mpin=1234
while(t<3):
  upin=int(input('Enter the pin:'))
  t=t+1
  if(mpin==upin):
    print('You are sucessfully logged in')
    ch=int(input('Enter the choice:'))
    if(ch==1):
      deposit=int(input('Enter the deposit amount:'))
      balance=deposit+balance
      print("balanceis:",balance)
      break
    elif(ch==2):
      withdraw=int(input('Enter the withdrawal amount'))
      balance=balance-withdraw
      print(balance)
      break
    elif(t==3):
      print('Your account is blocked')
    else:
      print('Please Enter a valid pin')

Enter the pin:1234
You are sucessfully logged in
Enter the choice:1
Enter the deposit amount:500
balanceis: 1500

In [9]:
mpin=1234
bal=1000
t=0
while(t<3):
  upin=int(input('enter the pin :'))
  t+=1
  if(upin==mpin):
    print('successfully logged in')
    while(True):
      print('1.Deposit\n2.Withdrawal:')
      ch=int(input('Enter a choice: '))
      if(ch==1):
        deposit=int(input('enter the amount'))
        bal+=deposit
        print(bal)
      elif(ch==2):
        withdrawal=int(input('enter the amt'))
        bal-=withdrawal
        print(bal)
      c=input('Do You Want to deposit/withdrawal?, YES or NO : ')
      if(c=='YES'):
        print("please select the choice")
      if(c=='NO'):
        print("THANK YOU")
        break;
    break;
  else:
    print('invalid input please enter a valid input')

enter the pin :1234
successfully logged in
1.Deposit
2.Withdrawal:
Enter a choice: 1
enter the amount500
1500
Do You Want to deposit/withdrawal?, YES or NO : NO
THANK YOU

In [10]:
d={
    'Transaction_type':[],
    'Transaction_amt':[],
    'Current_balance':[]
}
d

{'Transaction_type': [], 'Transaction_amt': [], 'Current_balance': []}

In [11]:
mpin=1234
bal=1000
t=0
while(t<3):
  upin=int(input('enter the pin :'))
  t+=1
  if(upin==mpin):
    print('successfully logged in')
    while(True):
      print('1.Deposit\n2.Withdrawal:')
      ch=int(input('Enter a choice: '))
      if(ch==1):
        type='Deposit'
        deposit=int(input('enter the amount'))
        bal+=deposit
        print(bal)
        d['Transaction_type'].append(type)
        d['Transaction_amt'].append(deposit)
        d['Current_balance'].append(bal)
      elif(ch==2):
        type='withdrawal'
        withdrawal=int(input('enter the amt'))
        bal-=withdrawal
        print(bal)
        d['Transaction_type'].append(type)
        d['Transaction_amt'].append(withdrawal)
        d['Current_balance'].append(bal)
      c=input('Do You Want to deposit/withdrawal?, YES or NO : ')
      if(c=='YES'):
        print("please select the choice")
      if(c=='NO'):
        print("THANK YOU")
        break;
    break;
  else:
    print('invalid input please enter a valid input')

enter the pin :1234
successfully logged in
1.Deposit
2.Withdrawal:
Enter a choice: 1
enter the amount100
1100
Do You Want to deposit/withdrawal?, YES or NO : NO
THANK YOU

In [12]:
d

{'Transaction_type': ['Deposit'],
 'Transaction_amt': [100],
 'Current_balance': [1100]}

# **NUMPY**

In [ ]:

import numpy as np

In [ ]:
l=[1,2,3,4,5,6,7,8,89,65,43]

In [ ]:
print(l)
arr=np.array(l)
print(arr)

[1, 2, 3, 4, 5, 6, 7, 8, 89, 65, 43]
[ 1  2  3  4  5  6  7  8 89 65 43]

In [ ]:
#float
l=[1,2,3,4,5,6,7,8,89,65,43,9.6]

In [ ]:
print(l)
arr=np.array(l)
print(arr)

[1, 2, 3, 4, 5, 6, 7, 8, 89, 65, 43, 9.6]
[ 1.   2.   3.   4.   5.   6.   7.   8.  89.  65.  43.   9.6]

In [ ]:
#string
l=[1,2,3,4,5,6,7,8,89,65,43,9.6,'hey']

In [ ]:
print(l)
arr=np.array(l)
print(arr)

[1, 2, 3, 4, 5, 6, 7, 8, 89, 65, 43, 9.6, 'hey']
['1' '2' '3' '4' '5' '6' '7' '8' '89' '65' '43' '9.6' 'hey']

In [ ]:
ar1=np.array([2,3,4,5,6,7,89,12,34])

In [ ]:
ar1[1]+ar1[6]

92

In [ ]:
ar1[3]=7
ar1

array([ 2,  3,  4,  7,  6,  7, 89, 12, 34])

In [ ]:
#matrix
l=[[1,2,3,4],[5,6,7,8],[9,10,11,12]]
m=np.array(l)
m

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [ ]:
m[1][2]

7

In [ ]:
#5x5 matrix
l=[[1,2,3,4,5],[5,6,7,8,9],[9,10,11,12,1],[2,3,4,5,3],[5,6,7,8,4]]
m=np.array(l)
m

array([[ 1,  2,  3,  4,  5],
       [ 5,  6,  7,  8,  9],
       [ 9, 10, 11, 12,  1],
       [ 2,  3,  4,  5,  3],
       [ 5,  6,  7,  8,  4]])

In [ ]:
#convert one dimension to two dimension(matrix)
l=[1,2,3,4]
arr=np.array(l).reshape((2,2))
arr

array([[1, 2],
       [3, 4]])

In [ ]:
#convert one dimension to two dimension(matrix)
l=[1,2,3,4,5,5,6,7,8,9,1,2,3,4,5,6]
arr=np.array(l).reshape((4,4))
arr

array([[1, 2, 3, 4],
       [5, 5, 6, 7],
       [8, 9, 1, 2],
       [3, 4, 5, 6]])

In [ ]:
l=[1,2,3,4,5]
n=np.array(l).reshape((-1,1))
n

array([[1],
       [2],
       [3],
       [4],
       [5]])

In [ ]:
l=[1,2,3,4,5,6]
n=np.array(l).reshape((-2,2))
n

array([[1, 2],
       [3, 4],
       [5, 6]])

In [ ]:
z=np.zeros((3,3))
z

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [ ]:
t=np.ones((3,3))*2
t

array([[2., 2., 2.],
       [2., 2., 2.],
       [2., 2., 2.]])

In [ ]:
n=np.ones((3,3))*12
n

array([[12., 12., 12.],
       [12., 12., 12.],
       [12., 12., 12.]])

In [ ]:
l=[1,2,3,4,5,6,7,8,9,12,14,15]
ar=np.array(l)
are=np.where(ar%2==0)
are

(array([ 1,  3,  5,  7,  9, 10]),)

In [ ]:
l=[1,2,3,4,5,6,7,8,9,12,14,15]
ar=np.array(l)
are=np.where(ar%2!=0)
are

(array([ 0,  2,  4,  6,  8, 11]),)

In [ ]:
l=['hey','hello','fruits','papayaa','blahblahblah']
l1=sorted(l,key=len)
print(l)
print(l1[-1])

['hey', 'hello', 'fruits', 'papayaa', 'blahblahblah']
blahblahblah

In [ ]:
l=['hey','hello','fruits','papayaa','blahblahblah']
l1=sorted(l,key=len)
print(l)
print(l1[1])

['hey', 'hello', 'fruits', 'papayaa', 'blahblahblah']
hello

# **Employee details**

In [ ]:
d={
    'Name':[],
    'Salary':[],
    'Designation':[],
    'Years of Experience':[],
    'no of lang_known':[]
}
d

{'Name': [],
 'Salary': [],
 'Designation': [],
 'Years of Experience': [],
 'no of lang_known': []}

In [ ]:
d

{'Name': ['pk', 'pk', 'rk'],
 'Salary': [2000, 22000, 25000],
 'Designation': ['se', 'sse'],
 'Years of Experience': [1, 2],
 'no of lang_known': [5, 5]}

In [ ]:
print('Employee details')
while(True):
  name=input('Name:')
  d['Name'].append(name)
  Sal=int(input('Salary:'))
  d['Salary'].append(Sal)
  Des=input('Designation:')
  d['Designation'].append(Des)
  Yoe=int(input('years of exp:'))
  d['Years of Experience'].append(Yoe)
  lang=int(input('number of lang known:'))
  d['no of lang_known'].append(lang)
  n=input('Do you want to continue? Yes or no :')
  if(n=='no'):
    break

Employee details
Name:pk
Salary:22000
Designation:se
years of exp:1
number of lang known:5
Do you want to continue? Yes or no :Yes
Name:rk
Salary:25000
Designation:sse
years of exp:2
number of lang known:5
Do you want to continue? Yes or no :no

In [ ]:
print('Employee details')
while(True):
  name=input('Name:')
  d['Name'].append(name)
  Sal=int(input('Salary:'))
  d['Salary'].append(Sal)
  Des=input('Designation:')
  d['Designation'].append(Des)
  Yoe=int(input('years of exp:'))
  d['Years of Experience'].append(Yoe)
  lang=int(input('number of lang known:'))
  d['no of lang_known'].append(lang)
  n=input('Do you want to continue? Yes or no :')
  if(n=='no'):
    break

Employee details
Name:Pavi
Salary:22000
Designation:Associate engineer
years of exp:2
number of lang known:5
Do you want to continue? Yes or no :Yes
Name:Veena
Salary:20000
Designation:Associate software engineer
years of exp:1
number of lang known:3
Do you want to continue? Yes or no :Yes
Name:Arush
Salary:30000
Designation:engineer
years of exp:3
number of lang known:4
Do you want to continue? Yes or no :Yes
Name:Anu
Salary:25000
Designation:senior associate
years of exp:3
number of lang known:3
Do you want to continue? Yes or no :Yes
Name:Amish
Salary:35000
Designation:senior engineer
years of exp:4
number of lang known:3
Do you want to continue? Yes or no :Yes
Name:Naveen
Salary:36000
Designation:associate consultant
years of exp:4
number of lang known:4
Do you want to continue? Yes or no :Yes
Name:praveen
Salary:40000
Designation:senior consultant
years of exp:5
number of lang known:5
Do you want to continue? Yes or no :Yes
Name:Raki
Salary:55000
Designation:Architect
years of exp:5
number of lang known:5
Do you want to continue? Yes or no :Yes
Name:Rakesh
Salary:60000
Designation:Senior Architect
years of exp:5
number of lang known:5
Do you want to continue? Yes or no :Yes
Name:Ramu
Salary:70000
Designation:director
years of exp:6
number of lang known:5
Do you want to continue? Yes or no :Yes
Name:Ram
Salary:75000
Designation:senior director
years of exp:6
number of lang known:4
Do you want to continue? Yes or no :Yes
Name:kv
Salary:78000
Designation:senior director
years of exp:7
number of lang known:5
Do you want to continue? Yes or no :Yes
Name:AR
Salary:80000
Designation:dr
years of exp:8
number of lang known:5
Do you want to continue? Yes or no :Yes
Name:rk
Salary:81000
Designation:sd
years of exp:9
number of lang known:5
Do you want to continue? Yes or no :Yes
Name:pk
Salary:82000
Designation:sdd
years of exp:9
number of lang known:5
Do you want to continue? Yes or no :no

# **Pandas**

In [17]:
#pandas/1.series
import pandas as pd
import numpy as np

In [19]:
l=[1,2,3,4,5,6]
n=np.array(l)
print(l)
print(n)
s=pd.Series(l)
print(s)

[1, 2, 3, 4, 5, 6]
[1 2 3 4 5 6]
0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [20]:
l=[1,2,3,4,5,6]
n=np.array(l)
print(l)
print(n)
s=pd.Series(l,index=['a','b','c','d','e','f'])
print(s)

[1, 2, 3, 4, 5, 6]
[1 2 3 4 5 6]
a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [21]:
l=[1,2,3,4,5,6,7.1]
n=np.array(l)
print(l)
print(n)
s=pd.Series(l)
print(s)

[1, 2, 3, 4, 5, 6, 7.1]
[1.  2.  3.  4.  5.  6.  7.1]
0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    7.1
dtype: float64

In [22]:
l=[1,2,3,4,5,6,'hey']
n=np.array(l)
print(l)
print(n)
s=pd.Series(l)
print(s)

[1, 2, 3, 4, 5, 6, 'hey']
['1' '2' '3' '4' '5' '6' 'hey']
0      1
1      2
2      3
3      4
4      5
5      6
6    hey
dtype: object

In [23]:
#pandas/2.DataFrame
dfa=pd.DataFrame(l)
dfa

     0
0    1
1    2
2    3
3    4
4    5
5    6
6  hey

In [24]:
a=np.array([2,3,4,5,6,7,89,12,14]).reshape((3,3))
a

array([[ 2,  3,  4],
       [ 5,  6,  7],
       [89, 12, 14]])

In [25]:
a=np.array([2,3,4,5,6,7,89,12,14]).reshape((3,3))

In [26]:
dfa=pd.DataFrame(a)
dfa

    0   1   2
0   2   3   4
1   5   6   7
2  89  12  14

In [27]:
a=np.array([2,3,4,5,6,7,89,12,14]).reshape((3,3))
dfa=pd.DataFrame(a,index=['a1','a2','a3'],columns=['c1','c2','c3'])
dfa

    c1  c2  c3
a1   2   3   4
a2   5   6   7
a3  89  12  14

In [28]:
dfa.to_csv('c1.csv')

In [29]:
d={
    'Names':['nishu','pavi','p','raveen'],
    'marks':[92,93,94,95]
}

In [30]:
n=pd.DataFrame(d)
n

    Names  marks
0   nishu     92
1    pavi     93
2       p     94
3  raveen     95

# **Pandas and numpy**

In [31]:
import pandas as pd
import numpy as np

In [32]:
d={'Name': ['Sunidhi','AArya','Aarya','Indu','Anu','Padma','Vikram','Nitish','Nithya','Nutana','Sayed Fazil','bhumika','Vaishnavi','Maneesh','manoj','Vishesh','Sunidhi'],
 'Sal': [100000,20000, 100000,200000,10000,30000,
  40000,
  50000,
  60000,
  60000,
  70000,
  80000,
  90000,
  100000,
  80000,
  120000,
  130000],
 'Des': ['Managing director',
  'Associate Engineer',
  'Director',
  'Senior Director',
  'Associate Engineer',
  'Engineer',
  'Senior Software Engineer',
  'Associate consultant',
  'consultant',
  'Senior Consultant',
  'Architect',
  'Senior Architect',
  'Managing Diresctor',
  'director',
  'Associate Director',
  'Senior Director',
  'Senior Director'],
 'Yoe': [9, 3, 5, 10, 1, 2, 3, 4, 5, 5, 6, 8, 8, 8, 9, 10, 11],
 'lang_known': [4, 4, 4, 5, 3, 3, 3, 4, 3, 4, 4, 4, 5, 5, 4, 5, 6]}

In [33]:
dfa=pd.DataFrame(d)
dfa

           Name     Sal                       Des  Yoe  lang_known
0       Sunidhi  100000         Managing director    9           4
1         AArya   20000        Associate Engineer    3           4
2         Aarya  100000                  Director    5           4
3          Indu  200000           Senior Director   10           5
4           Anu   10000        Associate Engineer    1           3
5         Padma   30000                  Engineer    2           3
6        Vikram   40000  Senior Software Engineer    3           3
7        Nitish   50000      Associate consultant    4           4
8        Nithya   60000                consultant    5           3
9        Nutana   60000         Senior Consultant    5           4
10  Sayed Fazil   70000                 Architect    6           4
11      bhumika   80000          Senior Architect    8           4
12    Vaishnavi   90000        Managing Diresctor    8           5
13      Maneesh  100000                  director    8           5
14        manoj   80000        Associate Director    9           4
15      Vishesh  120000           Senior Director   10           5
16      Sunidhi  130000           Senior Director   11           6

In [34]:
dfa.shape

(17, 5)

In [35]:
dfa.size

85

In [36]:
dfa.columns

Index(['Name', 'Sal', 'Des', 'Yoe', 'lang_known'], dtype='object')

In [37]:
dfa[dfa['Sal']>50000]

           Name     Sal                 Des  Yoe  lang_known
0       Sunidhi  100000   Managing director    9           4
2         Aarya  100000            Director    5           4
3          Indu  200000     Senior Director   10           5
8        Nithya   60000          consultant    5           3
9        Nutana   60000   Senior Consultant    5           4
10  Sayed Fazil   70000           Architect    6           4
11      bhumika   80000    Senior Architect    8           4
12    Vaishnavi   90000  Managing Diresctor    8           5
13      Maneesh  100000            director    8           5
14        manoj   80000  Associate Director    9           4
15      Vishesh  120000     Senior Director   10           5
16      Sunidhi  130000     Senior Director   11           6

In [38]:
dfasal5=dfa[dfa['Sal']>50000]

In [40]:
del type # This will delete the variable 'type' if it exists, restoring the built-in function.
print(type(dfasal5))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
dfasal5=dfa[dfa['Sal']==50000]
dfasal5

     Name    Sal                   Des  Yoe  lang_known
7  Nitish  50000  Associate consultant    4           4

In [ ]:
name='hello'
if(name.startswith('h')):
  print(name)

hello

In [ ]:
dfa['Des'].unique()

array(['Managing director', 'Associate Engineer', 'Director',
       'Senior Director', 'Engineer', 'Senior Software Engineer',
       'Associate consultant', 'consultant', 'Senior Consultant',
       'Architect', 'Senior Architect', 'Managing Diresctor', 'director',
       'Associate Director'], dtype=object)

In [ ]:
dfa.isnull().sum()

Name          0
Sal           0
Des           0
Yoe           0
lang_known    0
dtype: int64

In [ ]:
dfa.head(3)

      Name     Sal                 Des  Yoe  lang_known
0  Sunidhi  100000   Managing director    9           4
1    AArya   20000  Associate Engineer    3           4
2    Aarya  100000            Director    5           4

In [ ]:
dfa.tail(3)

       Name     Sal                 Des  Yoe  lang_known
14    manoj   80000  Associate Director    9           4
15  Vishesh  120000     Senior Director   10           5
16  Sunidhi  130000     Senior Director   11           6

In [ ]:
dfa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        17 non-null     object
 1   Sal         17 non-null     int64
 2   Des         17 non-null     object
 3   Yoe         17 non-null     int64
 4   lang_known  17 non-null     int64
dtypes: int64(3), object(2)
memory usage: 808.0+ bytes

In [ ]:
dfa.describe()

                 Sal        Yoe  lang_known
count      17.000000  17.000000   17.000000
mean    78823.529412   6.294118    4.117647
std     46217.198225   3.077432    0.857493
min     10000.000000   1.000000    3.000000
25%     50000.000000   4.000000    4.000000
50%     80000.000000   6.000000    4.000000
75%    100000.000000   9.000000    5.000000
max    200000.000000  11.000000    6.000000